.order
	position relative
	min-height 600px
	background-color #f3f3f1
	.font-big
		font-size 20px
	.font-small
		font-size 12px
	.font-red
		color #dd2628
	.font-orange
		color #eba602
	.font-lred
		color #ffa7bc
	.font-gray
		color #999
	.order-con
		position relative
		border 1.5px solid #ddd
		border-radius 4px
		background #fff
		margin 10px
		color #242424
		font-size 14px
		.info
			.key
				&:after
					content '：'
			.time
				color #bbb
				font-size 14px
	.btn
		display inline-block
		padding 0.4em 0.8em
		border-radius 2px
		border #c5c5c5 1.5px solid
		box-shadow 0 1.5px 1.5px rgba(0, 0, 0, .1)
		color #515151
		font-size 12px
		text-align center
	.btn._red
		color #fff
		background-color #dd2628
		border none
	.tips-some
		display inline-block
		margin-right 1em
		font-size 12px
